<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ht-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img class="ht-logo-icon" src="../../img/logo.png" alt="Brand">
        <img class="ht-logo-text" src="../../img/datath.png" alt="Brand">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="ht-navbar-collapse">
      <ul class="nav navbar-nav" id="ht-pages">
        <li data-menuanchor="pages-1" class="active"><a id="ht-page1" href="#pages-1">事件分析</a></li>
        <li data-menuanchor="pages-2"><a id="ht-page2" href="#pages-2">在线演示</a></li>
        <li data-menuanchor="pages-3"><a id="ht-page3" href="#pages-3">平台介绍</a></li>
        <li data-menuanchor="pages-4"><a id="ht-page4" href="#pages-4">公司介绍</a></li>
      </ul>
    </div>
  </div>
</nav>