<div class="container-fluid">
  <div id="back" class="ht-back" title="返回上一级"> << </div>
  <div class="ht-analysis-container">
    <div class="ht-chart-left">
      <div class="clearfix ht-hot-f">
          <div class="ht-gauge">
            <span>热度</span>
            <span id="ht-hot">78</span>
            <div>
              <div id="ht-gauge-hot"></div>
            </div>
          </div>
        <div class="ht-gauge">
          <span>影响力</span>
          <span id="ht-influnce">78</span>
          <div>
            <div id="ht-gauge-influ"></div>
          </div>
        </div>
      </div>
      <div>
        <div class="ht-tag">
          <h3>
            <span>标签</span><small><span class="glyphicon glyphicon-tags"></span></small>
          </h3>
          <p id="tag">暂无数据</p>
        </div>
        <div class="ht-source">
          <h3>
            <span>事件来源</span><small> <span class="glyphicon glyphicon-hand-down"></span></small>
          </h3>
          <p id="media"><a>未知</a></p>
        </div><div class="ht-source">
        <h3>
          <span>事件时间</span><small><span class="glyphicon glyphicon-time"></span></small>
        </h3>
        <p id="time">未知</p>
        </div>
        <div class="ht-source">
          <h3>
            <span>事件地点</span><small><span class="glyphicon glyphicon-map-marker"></span></small>
          </h3>
          <p id="event">未知</p>
        </div>
        <div class="ht-source">
        <h3>
          <span>事件人物</span><small><span class="glyphicon glyphicon-user"></span></small>
        </h3>
        <p id="people">未知</p>
      </div>
        <div class="ht-likes">
          <h3>
            <span>同类事件</span><small><span class="glyphicon glyphicon-duplicate"></span></small>
          </h3>
          <p id="relative">暂无相关信息</p>
        </div>
      </div>

    </div>
    <div class="ht-right">
      <div class="ht-top">
        <h1 id="ht-top">习近平出席经济论坛开幕式</h1>
        <div>
          <span>摘要</span>
          <span id="ht-main">你上课啦萨达是说你大三到那时到那时看到啥蒙地卡罗没啦萨达是说你大三到那时到那时看到啥蒙地卡罗没啦萨达是说你大三到那时到那时看到啥蒙地卡罗没事懒得阿达是代码了代码上面的啊路上慢点asmdlasmdadlsma</span>
        </div>
      </div>
      <div class="ht-line" id="ht-line"></div>
    </div>
  </div>
  <div class="ht-analysis-container">
    <div class="ht-chart-pia">
      <div class="ht-pia" id="ht-pia"></div>
    </div>
    <div class="ht-chart-right">
      <div class="ht-cloud" id="ht-cloud"></div>
    </div>
    <div class="ht-word">
      <h3>热点评论</h3>
      <ul>
        <li>
          <p id="zheng">
            暂无相关评论
          </p>
        </li><li>
          <p id="fu">
            暂无相关评论
          </p>
      </li>
      </ul>
    </div>
    <div class="ht-newword">
     <div id="ht-newword"></div>
   </div>
  </div>
</div>