<div class="container">
  <div class="ht-eventcontent-nav" id="ht-event-nav">
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="#/社会">社会</a></li>
      <li role="presentation"><a href="#/时政">时政</a></li>
      <li role="presentation"><a href="#/财经">财经</a></li>
      <li role="presentation"><a href="#/娱乐">娱乐</a></li>
      <li role="presentation"><a href="#/体育">体育</a></li>
    </ul>
  </div>

  <div class="ht-event-content" id="ht-event" style="min-height: 450px">
  </div>

  <!--分页-->
  <div class="ht-pagination">
    <div id="ht-pagination">
      <ul class="pagination" id="pagination">
        <li class="pre"><span>&laquo;</span></li>
        <li class="active"><a>1</a></li>
        <li><a>2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li><a>5</a></li>
        <li class="next"><span>&raquo;</span></li>
      </ul>
    </div>
  </div>
</div>
<footer>
  <div class="bottom">
    <div class="links">
      <ul class="clearfix">
        <li>商务合作</li>
        <li>隐私保护</li>
        <li>联系我们</li>
        <li>投诉建议</li>
      </ul>
    </div>
    <div class="phone">客服电话: 028-1234567</div>
    <div class="cy">
      &copy;2014-2018 CINS版权所有，并保留所有权利。
    </div>
  </div>
</footer>