<div class="container">
    <!--<div class="ht-class-btn" id="ht-class-btn">
      <span class="ht-event-tag active" id="type">类别</span>
      <span class="ht-event-tag" id="media">网站</span>
    </div>-->
    <div class="ht-event-list row">
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="ht-event-type-pic">
          <a href="社会" target="_self" index="1">
            <img class="event-type" src="../img/e/sheh.webp">
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="ht-event-type-pic">
          <a href="时政" target="_self" index="2">
            <img class="event-type" src="../img/e/sz.webp">
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="ht-event-type-pic">
          <a href="财经" target="_self" index="3">
            <img class="event-type" src="../img/e/cj.webp">
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="ht-event-type-pic">
          <a href="娱乐" target="_self" index="4">
            <img class="event-type" src="../img/e/yl.webp">
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="ht-event-type-pic">
          <a href="体育" target="_self" index="5">
            <img class="event-type" src="../img/e/ty.webp">
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <h1 class="ht-link-list">最新热词</h1>
      <ul class="hot-word" id="hot1">
        <li class="item"><a href="#">孩子</a></li>
        <li class="item"><a href="#">方式</a></li>
        <li class="item"><a href="#">网络</a></li>
        <li class="item"><a href="#">创新</a></li>
        <li class="item"><a href="#">改革</a></li>
        <li class="item"><a href="#">提供</a></li>
        <li class="item"><a href="#">调查</a></li>
        <li class="item"><a href="#">地方</a></li>
        <li class="item"><a href="#">影响</a></li>
        <li class="item"><a href="#">平台</a></li>
      </ul>
      <ul class="hot-word" id="hot2">
        <li class="item"><a href="#">中心</a></li>
        <li class="item"><a href="#">四川</a></li>
        <li class="item"><a href="#">特朗普</a></li>
        <li class="item"><a href="#">组织</a></li>
        <li class="item"><a href="#">报到</a></li>
        <li class="item"><a href="#">社会</a></li>
        <li class="item"><a href="#">城市</a></li>
        <li class="item"><a href="#">现场</a></li>
        <li class="item"><a href="#">全国</a></li>
        <li class="item"><a href="#">介绍</a></li>
      </ul>
    </div>
  </div>
  <footer>
    <div class="bottom">
      <div class="links">
        <ul class="clearfix">
          <li>商务合作</li>
          <li>隐私保护</li>
          <li>联系我们</li>
          <li>投诉建议</li>
        </ul>
      </div>
      <div class="phone">客服电话: 028-1234567</div>
      <div class="cy">
        &copy;2014-2018 CINS版权所有，并保留所有权利。
      </div>
    </div>
  </footer>