<div class="container-fluid">
  <div id="fullpage">
    <div class="lazy section active" id="ht-pages-1">
      <section class="ht-event-link">
        <div class="ht-inner">
          <h1>事件分析</h1>
          <p>事件分析是针对非结构化文本大数据，结合自主开发的半监督学习和深度学习技术，进行多角度分析提取信息的过程。</p>
          <a class="btn" href="event.html" target="_self"><img src="../img/enter.png" alt=""></a>
        </div>
      </section>
    </div>
    <div class="section" id="ht-pages-2">
      <section class="ht-event-link">
        <div class="ht-inner">
          <h1>在线演示</h1>
          <p>在线演示能够处理非结构化文本数据，直观展示事件分析平台能够为您做什么！</p>
          <a class="btn" href="inline.html"><img src="../img/enter.png" alt=""></a>
        </div>
      </section>
    </div>
    <div class="section" id="ht-pages-3">
      <section class="ht-event-link">
        <div class="ht-inner">
          <h1>平台介绍</h1>
          <p>平台介绍是对事件热度、关键词、影响力、舆论情感等文本分析展示角度的概括与介绍。</p>
          <a class="btn" href="platform.html"><img src="../img/enter.png" alt=""></a>
        </div>
      </section>
    </div>
    <div class="section" id="ht-pages-4">
      <section class="ht-event-link">
        <div class="ht-inner">
          <h1>公司介绍</h1>
          <p>公司介绍是对本公司情况的一些介绍，能够直观的展示本公司的发展、成果等等</p>
          <a class="btn" href="teamintorduction.html"><img src="../img/enter.png" alt=""></a>
        </div>
      </section>
    </div>
   
    
    <!-- .fp-auto-height这个类一般处理底部信息部分，设置高度不再是全屏而是适应内容 -->
    <footer class="section fp-auto-height">
      <div class="bottom">
        <div class="links">
          <ul class="clearfix">
            <li>商务合作</li>
            <li>隐私保护</li>
            <li>联系我们</li>
            <li>投诉建议</li>
          </ul>
        </div>
        <div class="phone">客服电话: 028-1234567</div>
        <div class="cy">
          &copy;2014-2018 CINS版权所有，并保留所有权利。
        </div>
      </div>
    </footer>
  </div>
</div>