<div class="container">
  <div class="ht-text">
    <textarea class="ht-textarea" id="ht-textarea" maxlength="200">当年山奴亚国王为了听故事的结尾，就把杀山鲁佐德的日期延迟了一天又一天。宰相的山鲁佐德每天讲一个故事，她的故事无穷无尽，一个比一个精彩，一直讲到第一千零一夜，终于感动了国王。山努亚说：凭安拉的名义起誓，我决心不杀你了，你的故事让我感动。我将把这些故事记录下来，永远保存。”如今有故事的人快到一千个了，有故事的人作为一个世间百态的平台，你可以从中看到尘世间芸芸众生的沸腾挣扎，为了七情六欲而奋力拼搏，收获几缕风光，大部分时候还是吃一嘴灰，真无奈啊。谁都渴望奇迹发生，就像山鲁佐德在一千个夜里的祈祷，西西弗斯渴望石头伫立在山顶，我们都希望生命中的故事不会变成事故，每天都凝固在美好发生的一瞬间，为此我们日夜努力不停息，就为了一千个日夜后，能够看见更坚硬的土地和更美好的自己。</textarea>
    <p>测试版目前只允许输入200个字符，敲击“回车”可得到分析结果</p>
  </div>
  <div class="ht-cixing-1" id="ht-1">
    <h1>词性标注</h1>
    <div id="ht-word">
      <span  class="ht-cixing-1-n">庆祝</span>
      <span  class="ht-cixing-1-n">庆祝</span>
      <span  class="ht-cixing-1-n">庆祝</span>
      <span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span>
      <span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span>
      <span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span>
      <span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span>
      <span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span>
      <span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span>
    </div>
    <ul id="ht-cixing">
    </ul>
  </div>
  <div class="ht-cixing-3" id="ht-3">
    <h1>情感分析</h1>
    <div>
      <div class="ht-qinggan-zheng">
        <p><span id="ht-qinggan-zheng-w">20%</span>&nbsp;&nbsp;正面</p>
        <img src="../img/c/zheng.png">
      </div>
      <div class="ht-qinggan-fu">
        <img src="../img/c/fu.png">
        <p><span id="ht-qinggan-fu-w">20%</span>&nbsp;&nbsp;负面</p>
      </div>
      <div id="ht-qinggan" class="ht-qinggan">
        <div id="ht-qinggan-zheng"></div><div id="ht-qinggan-fu"></div>
      </div>
    </div>
  </div>
  <div class="ht-cixing-4" id="ht-4">
    <h1>摘要&关键词提取</h1>
    <div>
      <div class="ht-text-zhaiyao">
        <span id="ht-text-zhaiyao">摘要提取</span>
      </div>
      <p  id="ht-text-guanjian">
        <span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span><span>庆祝</span>
      </p>
    </div>
  </div>
</div>
<footer>
  <div class="bottom">
    <div class="links">
      <ul class="clearfix">
        <li>商务合作</li>
        <li>隐私保护</li>
        <li>联系我们</li>
        <li>投诉建议</li>
      </ul>
    </div>
    <div class="phone">客服电话: 028-1234567</div>
    <div class="cy">
      &copy;2014-2018 CINS版权所有，并保留所有权利。
    </div>
  </div>
</footer>
