<div class="container-fluid">
  <div class="ht-pt-content">
    <div class="row">
      <div class="container">
        <div class="col-md-6 col-xs-6">
          <div class="center-vertical">
            <img class="img-responsive" src="../img/p/u585.png">
          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <div class="center-vertical">
            <h2>事件热度</h2>
            <p>事件热度，是以一个数值的形式反映这个事件的实时关注程度。以新闻的阅读数，评论数，已经在微博关于此事件的数量为指标，建立的一个数学模型，最终得到一个衡量事件热度的指标。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="col-md-6 col-xs-6">
          <div class="center-vertical">
            <h2>事件关键词</h2>
            <p>事件关键词，是在事件中比较关键的词语的提取。在基于分词，词性标注，去停用词等基础上，采用自然语言处理的技术把事件中关键性的词语提取出来，能更清晰的反应事件的核心部分。</p>
          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <div class="center-vertical">
            <img class="img-responsive" src="../img/p/u581.png">
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="influnce">
      <div class="container">
        <div class="col-md-6 col-xs-6">
          <div class="center-vertical">
            <img class="img-responsive" src="../img/p/u583.png">
          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <div class="center-vertical">
            <h2>事件影响力</h2>
            <p>事件影响力，和事件热度一样也是一个数值型指标。不同于事件热度的是，事件影响力反映的是事件的发生所产生的影响力，主要是以，参与媒体，相关事件，以及事件持续时间为指标所建立的模型，通过学习的方法的得到能量化一个事件所产生的影响的模型。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="col-md-6 col-xs-6">
          <div class="center-vertical">
            <h2>事件简介</h2>
            <p>事件简介，是的对事件一个简短描述。事件简介的采用的方法是自然语言处理中的摘要提取，通过最终得到语句的权重来衡量每个语句的重要性，从中得到最主要的语句，最终形成简介。</p>
          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <div class="center-vertical">
            <img class="img-responsive" src="../img/p/u535.png">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="col-md-6 col-xs-6">
          <div class="center-vertical">
            <img class="img-responsive" src="../img/p/u575.png">
          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <div class="center-vertical">
            <h2>事件评论/舆论情感分析</h2>
            <p class="ht-pt-small">情感分析，是指对每个用户关于某个事件所表达观点所对应情感的分析。其中，评论的情感分析是特指在新闻网站中， 用户关于这个事件的评论所对应的情感，而舆论情感分析是特指对微博用户中关于此事件观点的情感。 情感分析的采用自然语言处理中非监督学习对短文本情感分析的结果，其中，采用了一个半监督学习的情感词库，以保证对新的情感词的收集和存储。
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="col-md-6 col-xs-6">
          <div class="center-vertical">
            <h2>参与媒体</h2>
            <p>参与媒体，是指关于这个事件进行发布新闻的网站，主要是基于细粒度的事件聚类以找到共同描述此事件的新闻。 这里的聚类方法，也是采用监督学习的方法，对文本，标题，时间等特征进行量化， 进行相似性的比较，最终得到聚类的结果。
            </p>
          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <div class="center-vertical">
            <img class="img-responsive" src="../img/p/u579.png">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="col-md-6 col-xs-6">
          <div class="center-vertical">
            <img class="img-responsive" src="../img/p/u577.png">
          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <div class="center-vertical">
            <h2>关联事件</h2>
            <p>关联事件，是展示跟此事件相关的事件，是为了能更全面了解事件的整体， 以及对有相似情况事件的对比。主要是基于粗粒度聚类并去除完全一样的事件， 及在参与媒体中所涉及的新闻。通过对阀值的设定，最终得到跟此事件相关的事件。</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<footer>
  <div class="bottom">
    <div class="links">
      <ul class="clearfix">
        <li>商务合作</li>
        <li>隐私保护</li>
        <li>联系我们</li>
        <li>投诉建议</li>
      </ul>
    </div>
    <div class="phone">客服电话: 028-1234567</div>
    <div class="cy">
      &copy;2014-2018 CINS版权所有，并保留所有权利。
    </div>
  </div>
</footer>
</div>