<div class="container-fluid">
  <section class="ht-company container" id="ht-company">
    <h1>公司介绍</h1>
    <p>
      四川数智汇通数据有限公司是四川智诚永信电子工程有限公司旗下专业从事大数据行业解决方案的公司，成立于2012年，是专注于信息化、智能化及自动解决方案的一站式工程服务商。公司本部位于成都，在重庆、昆明、广州等地设立有分支机构，业务遍级中国、非洲、东欧等多个国家和地区。成功实施的项目超过100个，拥有丰富的项目设计、实施及管理经验。</p>
  </section>
  <section class="ht-grow container" id="ht-grow">
    <h1>成长历程</h1>
    <div class="ht-row">
      <div class="ht-grow-timeline">
        <div class="ht-timelines">
          <div class="ht-timeline clearfix">
            <div class="ht-time">2016年08月</div>
            <div class="ht-text">与乐视云签订《云计算战略合作协议》</div>
          </div>
        </div>
        <div class="ht-timelines">
          <div class="ht-timeline clearfix">
            <div class="ht-time">2016年08月</div>
            <div class="ht-text">与成都市团市委签订《舆情监测分析及预警响应系统合同》</div>
          </div>
        </div>
        <div class="ht-timelines">
          <div class="ht-timeline clearfix">
            <div class="ht-time">2016年05月</div>
            <div class="ht-text">与城市热点公司签订《基于访问认证数据的战略合作协议》</div>
          </div>
        </div>
        <div class="ht-timelines">
          <div class="ht-timeline clearfix">
            <div class="ht-time">2016年04月</div>
            <div class="ht-text">与四川省数字认证管理中心签订《基于企业行业数据分析的战略合作协议》</div>
          </div>
        </div>
        <div class="ht-timelines">
          <div class="ht-timeline clearfix">
            <div class="ht-time">2016年01月</div>
            <div class="ht-text">公司与西南石油大学智能与网络化系统研究中心共建大数据联合实验室</div>
          </div>
        </div>
        <div class="ht-timelines">
          <div class="ht-timeline clearfix">
            <div class="ht-time">2015年08月</div>
            <div class="ht-text">技术团队着手开发市委宣传部《舆情分析系统V1.0 》</div>
          </div>
        </div>
        <div class="ht-timelines">
          <div class="ht-timeline clearfix">
            <div class="ht-time">2011年08月</div>
            <div class="ht-text">西南石油大学智能与网络化系统研究中心成立，该团队为公司开发团队的前身</div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section class="ht-culture container" id="ht-culture">
    <h1>企业文化</h1>
    <div class="ht-culture-wp row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <img class="img-responsive" src="../img/t/tm01.png" alt="定位">
        <h3>定位</h3>
        <p>大数据解决方案提供商</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <img class="img-responsive" src="../img/t/tm02.png" alt="长期目标">
        <h3>长期目标</h3>
        <p>可信赖的大数据服务专家</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <img class="img-responsive" src="../img/t/tm03.png" alt="理念">
        <h3>理念</h3>
        <p>智慧、廉正、永久、信任</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <img class="img-responsive" src="../img/t/tm04.png" alt="使命">
        <h3>使命</h3>
        <p>成就员工、成就客户、成就品牌</p>
      </div>
    </div>
  </section>
  <section class="ht-property container" id="ht-property">
    <h1>知识产权</h1>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <img class="img-responsive" src="../img/t/u842.png" alt="相关文件">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <img class="img-responsive" src="../img/t/u842.png" alt="相关文件">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <img class="img-responsive" src="../img/t/u842.png" alt="相关文件">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <img class="img-responsive" src="../img/t/u842.png" alt="相关文件">
      </div>
    </div>
  </section>
  <section class="ht-team container" id="ht-team">
    <h1>团队成员</h1>
    <p>
      公司拥有一支年轻、精干的高素质队伍。大数据公司技术团队现有员工26名，90%具备大学本科及以上学历，其中博士后1名，博士1名，硕士8名。依托电子科技大学、西南石油大学、信息工程学院等雄厚的科研及人才优势，公司形成了强大的技术研发服务体系，为客户提供全方位的解决方案。
    </p>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><img class="img-responsive" src="../img/t/pp.png" alt="成员"></div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><img class="img-responsive" src="../img/t/pp.png" alt="成员"></div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><img class="img-responsive" src="../img/t/pp.png" alt="成员"></div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><img class="img-responsive" src="../img/t/pp.png" alt="成员"></div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><img class="img-responsive" src="../img/t/pp.png" alt="成员"></div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><img class="img-responsive" src="../img/t/pp.png" alt="成员"></div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><img class="img-responsive" src="../img/t/pp.png" alt="成员"></div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><img class="img-responsive" src="../img/t/pp.png" alt="成员"></div>
    </div>
  </section>
  <section class="ht-counselor container" id="ht-counselor">
    <h1>顾问团队</h1>
    <div class="row">
      <div class="ht-counselor-photo col-lg-5 col-md-5 col-sm-5 col-xs-12">
        <img src="../img/t/tea.png" alt="李平教授">
      </div>
      <div class="ht-counselor-resume col-lg-7 col-md-7 col-sm-7 col-xs-12">
        <h3>李平教授</h3>
        <p style="text-indent: 0;">
          西南石油大学特聘教授 <br>
          西南石油大学智能与网络化系统研究中心主任 <br>
          香港理工大学博士后、电子科技大学博士 <br>
          德国波茨坦大学物理系访学 <br>
          四川省学术带头人后备人选 <br>
          四川省计算机学会大数据专委会委员 <br>
          中国计算机学会/ACM高级会员 <br>
          申请有关数据处理、算法等发明专利5项 <br>
          多年网络科学及机器学习研究经验，先后主持参与国家自然科学基金等高水平科研项目多项
        </p>
      </div>
    </div>
  </section>
  <section class="ht-partner container" id="ht-partner">
    <h1>合作伙伴</h1>
    <div class="ht-friend">
      <div>
        <img src="../img/t/u669.jpg" alt="合作商" class="img-responsive">
      </div>
      <div>
        <img src="../img/t/u673.jpg" alt="合作商" class="img-responsive">
      </div>
      <div>
        <img src="../img/t/u671.jpg" alt="合作商" class="img-responsive">
      </div>
      <div>
        <img src="../img/t/u667.jpg" alt="合作商" class="img-responsive">
      </div>
      <div>
        <img src="../img/t/u663.jpg" alt="合作商" class="img-responsive">
      </div>
      <div>
        <img src="../img/t/u676.jpg" alt="合作商" class="img-responsive">
      </div>
      <div>
        <img src="../img/t/u665.jpg" alt="合作商" class="img-responsive">
      </div>
      <div>
        <img src="../img/t/u679.jpg" alt="合作商" class="img-responsive">
      </div>
      <div>
        <img src="../img/t/u682.jpg" alt="合作商" class="img-responsive">
      </div>
    </div>
  </section>
  <section class="ht-server container" id="ht-server">
    <h1>服务领域</h1>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img src="../img/t/u830.png" class="../img-responsive">
        <p>基于互联网大数据信息的传播分析、预警
        </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img src="../img/t/u828.png" class="../img-responsive">
        <p>基于企业认证行为大数据的企业信用分析
        </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img src="../img/t/u826.png" class="../img-responsive">
        <p>基于网络接入认证的大数据挖掘人物及群体画像
        </p>
      </div>
    </div>

  </section>
  <section class="ht-contact container" id="ht-contact">
    <h1>联系我们</h1>
    <div class="row">
      <div class="ht-location col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <!--百度地图容器-->
        <iframe src="benbu.html" width="300" height="180" frameborder="0" scrolling="no"></iframe>
        <iframe src="yanfa.html" width="300" height="180" frameborder="0" scrolling="no"></iframe>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div class="ht-contact-way">
          地址：成都市高新区天益街38号 理想中心4栋1504 <br>
          电话：+86 28 83385301 <br>
          传真：+86 28 83385302
        </div>
        <div class="ht-contact-way">
          地址：成都市高新区天益街38号 理想中心4栋1504 <br>
          电话：+86 28 83385301 <br>
          传真：+86 28 83385302
        </div>
      </div>
    </div>
  </section>
  <footer class="section fp-auto-height">
    <div class="bottom">
      <div class="links">
        <ul class="clearfix">
          <li>商务合作</li>
          <li>隐私保护</li>
          <li>联系我们</li>
          <li>投诉建议</li>
        </ul>
      </div>
      <div class="phone">客服电话: 028-1234567</div>
      <div class="cy">
        &copy;2014-2018 CINS版权所有，并保留所有权利。
      </div>
    </div>
  </footer>
</div>